<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center text-blue-500 font-semibold text-lg">
          <span class="text-orange-500">AM</span><span class="text-gray-100">Interview</span>
        </div>
      </div>
    </div>
  </div>
</nav>

@if(isLoaded ){
<div class="flex items-center justify-center h-screen">
  <i class="animate-spin fa-solid fa-spinner text-4xl"></i>
</div>

}

@else{


<ng-container *ngIf="!challenge?.isActive && !challenge?.endTime">
  <div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="max-w-md bg-white rounded-2xl shadow-lg p-6">
      <div class="text-center">
        <h2 class="text-xl font-semibold text-gray-800">Ready to Start?</h2>
        <p class="text-gray-600 mt-2">Click below to begin your challenge.</p>

        <div class="mt-4 p-3 bg-yellow-100 text-yellow-800 rounded-md shadow">
          <h3 class="font-semibold">Rules:</h3>
          <ul class="list-disc list-inside text-sm text-gray-700 mt-1">
            <li>Do not refresh the page during the challenge.</li>
            <li>Copy-pasting is not allowed.</li>
            <li>Switching tabs is not permitted.</li>
            <li>Ensure you have a stable internet connection.</li>
          </ul>
        </div>

        <button
          class="mt-4 bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-6 rounded-full shadow-md transition-transform transform hover:scale-105"
          (click)="startChallenge(challenge._id)">
          🚀 Start Challenge
        </button>
      </div>
    </div>
  </div>

</ng-container>




<div class="w-full h-screen mx-0 overflow-hidden" *ngIf="challenge?.isActive">
  <div class="w-full h-full rounded shadow-lg bg-white flex flex-col">
    <div class=" m-2 flex justify-between items-center">
      <span class="font-bold ">{{ challenge.name }}
        <span class="font-normal text-gray-500 ">(Started at: {{startTime | date:'h:mm:ss a'}}) </span></span>
      <span>
        <span>Current Time: {{time | date:'h:mm:ss a'}} </span>

        <button
          class="ml-2 btn bg-red-500 hover:bg-red-700 text-white font-bold  rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
          *ngIf="!challenge.endTime" (click)="endChallenge()">End Challenge</button>
      </span>
    </div>
    <iframe [attr.src]="safeStackBlitzUrl" class="w-full h-full flex-grow" title="StackBlitz Preview">
    </iframe>
  </div>
</div>



<ng-container *ngIf="challenge?.isActive===false">

  <div class="flex items-center justify-center">
    <div class="max-w-md bg-white rounded-2xl overflow-hidden shadow-xl p-6">
      <div class="text-center">
        <h2 class="text-lg font-semibold text-gray-800">🎉 Challenge Submitted!</h2>
        <p class="text-gray-600 mt-2">
          Your challenge has been submitted successfully.
        </p>
        <p class="text-gray-600 mt-2">
          Close this window.
        </p>
      </div>
      <div class="flex flex-wrap justify-center mt-4">
        <span class="bg-blue-100 text-blue-600 rounded-full px-4 py-1 text-sm font-medium mr-2 mb-2">Start Time:
          {{challenge.startTime |date:"hh:mm a" }}</span>
        <span class="bg-green-100 text-green-600 rounded-full px-4 py-1 text-sm font-medium mr-2 mb-2">End Time:
          {{challenge.endTime | date:"hh:mm a" }}</span>
        <span class="bg-purple-100 text-purple-600 rounded-full px-4 py-1 text-sm font-medium mr-2 mb-2"> Total Time:
          {{challenge.totalTime | number:".2-2"}} min</span>
      </div>
    </div>
  </div>
</ng-container>

}