@if(isLoaded ){
<div class="dark:text-gray-50 flex items-center justify-center h-screen">
    <i class="animate-spin fa-solid fa-spinner text-4xl"></i>
</div>

}

@else{

    <div class="px-2 sm:px-6 lg:px-8 pt-2">
        <button class="btn btn-xs " (click)="back()">Back</button>
      </div>

<div class="dark:text-gray-50 dark:bg-gray-800  max-w px-2 sm:px-6 lg:px-8 py-2 flex justify-between items-center pt-3 ">
    <h4 class="dark:text-gray-50 text-lg font-semibold ">
        📂 Projects &#x2997; {{ projectList.length }} &#x2998;
    </h4>
    <button (click)="toggleProjectModal()"
        class="bg-blue-600 hover:bg-blue-800 text-white font-semibold py-2 px-5 rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:scale-105">
        <i class="fa-solid fa-plus"></i> Add Project
    </button>
</div>


<div class="dark:text-gray-50 dark:bg-gray-800  max-w px-2 sm:px-6 lg:px-8 py-2 py-4">
    <h4 *ngIf="projectList.length == 0" class=" dark:text-gray-50 text-lg font-semibold text-center">
        No Projects!
    </h4>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6" *ngIf="projectList.length > 0">
        <div *ngFor="let item of projectList; let i = index"
            class="dark:shadow-zinc-500/50 dark:text-gray-50 dark:bg-gray-800 dark:border rounded-lg overflow-hidden shadow-lg bg-white flex flex-col">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-3 flex justify-between items-center">
                    <span> {{ item.title }} </span>
                    <span>
                        <button
                            class="mr-2 cursor-pointer text-blue-600 hover:text-blue-800 font-bold transition-transform transform hover:scale-110"
                            (click)="edit(item)">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button
                            class="cursor-pointer text-red-600 hover:text-red-800 font-bold transition-transform transform hover:scale-110"
                            (click)="deleteProject(item._id)">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </span>
                </div>

                <div class="flex justify-between items-center gap-2 w-full">
                    <a class="dark:text-blue-400 text-blue-800 underline break-all" [href]="item.projectUrl" target="_blank">
                        <i class="fa-solid fa-link"></i> StackBlitz Project Link
                    </a>
                </div>
            </div>

            <div class="flex flex-wrap justify-center px-4 pb-4">
                <span class="bg-blue-100 text-gray-600 rounded-full px-4 py-1 text-sm font-medium">
                    Skills: {{ item.skills }}
                </span>
            </div>
        </div>
    </div>
</div>


<app-project *ngIf="isToggleProjectModal" [project]="project" (getProjectList)="getProjectList()"
    (toggleProjectModal)="toggleProjectModal()"></app-project>

}