@if(isLoaded ){
<div class="dark:text-gray-50 dark:bg-gray-800 flex items-center justify-center h-screen">
  <i class="animate-spin fa-solid fa-spinner text-4xl"></i>
</div>

}

@else{

<div *ngIf="!interviewSession?.isActive"
  class="m-0 w-full  px-2 sm:px-6 lg:px-8 bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md"
  role="alert">
  <p class="px-2 font-bold">Interview session ended</p>
  <p class="px-2 text-sm">Interview of this candidate has successfully completed.</p>
</div>

<div class="px-2 sm:px-6 lg:px-8 pt-2">
  <button class="btn btn-xs " (click)="back()">Back</button>
</div>


<div *ngIf="interviewSession?.isActive">

  <div class="dark:text-gray-50 dark:bg-gray-800  max-w px-2 sm:px-6 lg:px-8 py-2">

    <h4 class="dark:text-gray-50 dark:bg-gray-800 text-lg font-semibold text-gray-800 my-2"># Create New Challenge</h4>
    <form class="flex flex-wrap gap-4" [formGroup]="challengeForm">
      <div class="w-full md:w-auto px-3">
        <input formControlName="name" name="name"
          class="dark:text-gray-50 dark:bg-gray-800 block w-full bg-gray-200 border border-gray-300 py-2 px-4 rounded leading-tight focus:outline-none focus:border-gray-500"
          id="grid-first-name" type="text" placeholder="Enter challenge name" />
      </div>

      <div class="flex gap-3 items-center w-full md:w-auto px-3">
        <select name="stackBlitzUrl"
          class="dark:text-gray-50 dark:bg-gray-800 block w-full bg-gray-200 border border-gray-300 text-gray-700 py-2 px-4 rounded leading-tight focus:outline-none focus:border-gray-500"
          formControlName="stackBlitzUrl" (change)="onProjectSelect($event)">
          <option value="">Select project</option>
          <option *ngFor="let item of projectList; let i = index" [value]="item.projectUrl">{{item.title}}</option>
        </select>
        <div>
          <button (click)="toggleProjectModal()"
            class="cursor-pointer bg-blue-200 hover:bg-blue-500 text-xs md:text-sm py-1 px-1 md:py-2 md:px-2 rounded-full ">
            <span class="flex justify-center items-center gap-2"><i class="dark:text-gray-800 fa-solid fa-plus"></i></span>
          </button>
        </div>
      </div>

      <div class="flex items-end px-3">
        <button type="button" (click)="createChallenge()"
          class="cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold text-xs md:text-sm py-1 px-2 md:py-2 md:px-4 rounded">

          <span *ngIf="!isCreated">Create</span>
          <span disable *ngIf="isCreated"><i class="animate-spin fa-solid fa-spinner"></i></span>
        </button>
      </div>
    </form>
  </div>
</div>



<div class="dark:text-gray-50 dark:bg-gray-800  max-w px-2 sm:px-6 lg:px-8 py-2 flex justify-between items-center mt-3">
  <h4 class="dark:text-gray-50 dark:bg-gray-800 text-lg font-semibold text-gray-800">
    # Challenges &#x2997; {{ challenges.length }} &#x2998;
  </h4>
</div>

<div
  class="dark:text-gray-50 dark:bg-gray-800  max-w px-2 sm:px-6 lg:px-8 py-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
  <h4 *ngIf="challenges.length == 0" class="text-lg font-semibold dark:text-gray-50 dark:bg-gray-800">
    No Challenges!
  </h4>

  <div *ngFor="let item of challenges; let i = index"
    class="dark:shadow-zinc-500/100 dark:text-gray-50 dark:bg-gray-800 dark:border  max-w-sm rounded-lg overflow-hidden shadow-lg bg-white">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-3 flex justify-between items-center">
        {{i+1}}. {{ item.name }}
        <span>
          <button *ngIf="item.isActive"
            class="text-red-600 text-sm bg-red-200 rounded-full px-2 hover:text-red-800 cursor-pointer "
            (click)="endChallenge(item._id)">
            End challenge
          </button>
          <button *ngIf="!item.isActive && interviewSession?.isActive"
            class=" cursor-pointer text-red-600 hover:text-red-800 font-bold transition-transform transform hover:scale-110"
            (click)="deleteChallenge(item._id)">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </span>
      </div>
      <div class="flex items-center justify-between space-x-2">
        <a class="dark:text-blue-400 cursor-pointer text-blue-800 break-all underline" (click)="viewCode(item._id)">
          <i class="fa-solid fa-link"></i> View code
        </a>

        <div class="flex items-end">
          <button type="button" class="cursor-pointer" (click)="
              copyToClipboard(item._id)
              ">
            <i class="fa-solid fa-copy"></i>
          </button>

        </div>
      </div>
    </div>

    <div class=" p-2 w-full max-w-lg mx-auto">

      <div class="mx-3 ">
        <span class="dark:text-neutral-200 text-sm  font-medium">
          Project: {{ item.projectName }}
        </span>
      </div>
      <div class="mx-3 border-t border-slate-200 ">
        <span class="text-sm  font-medium">
          Lost Focus: <span [ngClass]="{
            'text-red-600':  item.lostFocus >= 3
          }">{{ item.lostFocus }}</span>
        </span>

      </div>
      <div *ngIf="item.startTime" class="mx-3 ">
        <span class=" dark:text-neutral-200 text-sm text-slate-600 font-medium">
          Start Time: {{ item.startTime | date : "hh:mm a" }}
        </span>
      </div>
      <div *ngIf="item.endTime" class="mx-3 ">
        <span class="dark:text-neutral-200 text-sm text-slate-600 font-medium">
          End Time: {{ item.endTime | date : "hh:mm a" }}
        </span>
      </div>
      <div *ngIf="item.totalTime" class="mx-3 ">
        <span class="dark:text-neutral-200 text-sm text-slate-600 font-medium">
          Total Time: {{ item.totalTime | number : ".2-2" }} min
        </span>
      </div>
      <div *ngIf="item.totalTime" class="mx-3 flex justify-between">
        <span *ngIf="item.score">Score:<span [ngClass]="{
          ' text-red-600': item.score === 'Not Attempted',
          ' text-yellow-600 ': item.score === 'Partial Solution',
          '  text-orange-600': item.score === 'Completed',
          '  text-green-600': item.score === 'Outstanding'
        }" class=" font-medium rounded-full text-sm flex-grow text-center">
            {{ item.score }}
          </span></span>
        <select #scoreSelect *ngIf="!item.score" (change)="updateScore(item._id, scoreSelect.value)"
          class="dark:text-gray-50 dark:bg-gray-800 text-slate-600 outline-none border rounded px-2  text-sm">
          <option value="">Select score</option>
          <option *ngFor="let score of scores" [value]="score">{{ score }}</option>
        </select>
      </div>
    </div>
  </div>
</div>


<app-project *ngIf="isToggleProjectModal" [project]="project" (getProjectList)="getProjectList()"
  (toggleProjectModal)="toggleProjectModal()"></app-project>

}